$default-text-color : $black;
$default-bg-color : $light-gray;
$default-weight : $font-regular;
$default-font: $rubik;

$headings-font : $josefin;
$headings-weight : $font-bold;


img{
    max-width: 100%;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
}
a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
.container{
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}
body{
    font-size: 1.6rem;
    font-family: $default-font;
    font-weight: $default-weight;
    color: $default-text-color;
    background-color: $default-bg-color;
}
h1, h2, h3, h4, h5, h6{
    font-family: $headings-font;
    font-weight: $headings-weight;
}
