

$white :     #ffffff;
$black :     #000000;
$purple :    #8a059e;
$light-gray: #eeeeee;
$red :       #0110a;
$blue :      #0a4ff0;
$green :     #0af030;
$orange :    #fcd200;
$yellow :    #f0e80a;
$cyan :      #0af0e8;

$dark-gray:  #444444;
$light-gray: #eeeeee;